#fulltime {
    display: none;
    font-size: 16px;
    font-weight: bold;
}

#start {
    cursor: pointer;
    font-size: 10px;
    font-family: ubuntu;
    outline: none;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
    background-color: rgb(44, 177, 184);
}

#stop {
    cursor: pointer;
    font-size: 10px;
    outline: none;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
    background-color: rgb(58, 58, 130);

}

#pause {
    cursor: pointer;
    font-size: 10px;
    font-family: ubuntu;
    outline: none;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
    background-color: rgb(44, 177, 184);
}

#continue {
    cursor: pointer;
    font-size: 10px;
    font-family: ubuntu;
    outline: none;
    padding: 10px;
    border: 1px solid #eee;
    border-radius: 5px;
    color: white;
    background-color: rgb(58, 58, 130);

}

#timer {
    font-size: 2em;
    font-weight: 100;
    color: #fff;

}

#timer div {

    display: inline;
    margin: 5px;
    padding: 5px;
    border-radius: 10px;
    color: black;
    font-size: 20px;



}

#timer div span {
    color: #B1CDF1;
    display: block;
    font-weight: 200;

}

.img {
    height: 60px;
    width: 60px;
}

#stopWatch {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(73, 10, 109, 0.5);
}

body {
    background-color: #48C8FF;
}

.a {
    padding: 10px;
    height: 100vh;

}

/* Responsive styles using media queries */

.b {
    text-align: center;
    justify-content: center;
}